.b-cabinet {
	padding: 235px 0 60px;
	background: #040404 url('images/bg-1.jpg') center top no-repeat;
	background-size: 100% auto;
	.pagination {
		ul {
			display: none;
			&.active {
				display: block;
			}
		}
	}
	.panel {
		padding: 79px 0 0;
		.tabs {
			list-style: none;
			li {
				float: left;
				margin-left: 10px;
				font-size: 20px;
				line-height: 60px;
				font-weight: bold;
				text-transform: uppercase;
				a {
					display: block;
					padding: 0 33px;
					color: $color_text;
					text-decoration: none;
					background: #fff;
					@include border-radius(10px 10px 0 0);
				}
				&.active {
					a {
						background: $color_orange;
					}
				}
				&:first-child {
					margin-left: 0;
				}
			}
		}
		.tab {
			display: none;
			padding: 32px 39px 41px;
			background: #fff;
			border-top: 10px solid $color_orange;
			@include border-radius(0 10px 10px 10px);
			&.active {
				display: block;
			}
			h2 {
				font-size: 30px;
				font-weight: bold;
			}
			&--prizes {
				border-top: 0;
				padding: 0 !important;
				.table {
					overflow: auto;
					@include border-radius(10px);
					-webkit-border-top-left-radius: 10px;
					-moz-border-top-left-radius: 10px;
					border-top-left-radius: 0;
					.empty {
						padding: 50px 10px;
						font-size: 18px;
						font-weight: bold;
						text-align: center;
					}
					table {
						width: 100%;
						min-width: 900px;
						border-collapse: collapse;
						white-space: nowrap;
					}
					thead th {
						padding: 15px 20px;
						background: $color_orange;
						font-size: 20px;
						line-height: 30px;
						font-weight: bold;
						text-align: left;
						border-left: 1px solid #fedc80;
						&:first-child {
							border-left: none;
							padding-left: 33px;
						}
						.jq-selectbox {
							float: right;
						}
					}
					td {
						padding: 15px 20px;
						font-size: 16px;
						font-weight: bold;
						background: #fff;
						border-top: 1px solid #d9d9d9;
						border-left: 1px solid #d9d9d9;
						&:first-child {
							padding-left: 33px;
						}
					}
					tr {
						&:first-child {
							td {
								border-top: none;
							}
						}
					}
					a {
						color: $color_orange;
					}
				}
			}
		}
		.delivery {
			.heading {
				padding: 18px 0 1px;
				font-size: 15px;
				line-height: 18px;
			}
			.form {
				margin-top: 15px;
				font-size: 15px;
				line-height: 18px;
				.form-col {
					display: table-cell;
					padding-bottom: 19px;
				}
				.form-row {
					display: table;
					&:first-child {
						.form-col {
							padding-left: 12px;
							&:first-child {
								width: 500px;
								padding-left: 0;
							}
						}
					}
					&:nth-child(2) {
						.form-col {
							width: 250px;
							&:nth-child(2) {
								text-align: right;
							}
						}
						.input-1 {
							width: 120px;
						}
						label {
							padding-right: 8px;
						}
					}
				}
				a {
					font-weight: bold;
					color: $color_text;
				}
				label {
					font-size: 17px;
					font-weight: bold;
				}
			}
		}
		.status {
			padding: 48px 0 0;
			.table {
				margin: 21px 213px 0 0;
				overflow: auto;
				border-radius: 10px;
				table {
					width: 100%;
					min-width: 900px;
					border-collapse: collapse;
				}
				thead th {
					padding: 15px 20px;
					background: $color_orange;
					font-weight: bold;
				}
				th, td {
					font-size: 17px;
					text-align: left;
					white-space: nowrap;
				}
				td {
					padding: 14px 20px;
					background: #eee;
					border-bottom: 1px solid #fff;
				}
				a {
					color: $color_text;
				}
			}
		}
	}
	.pagination-1 {
		margin-top: 50px;
	}
}
