.b-faq {
	padding: 235px 0 60px;
	background: #040404 url('images/bg-1.jpg') center top no-repeat;
	background-size: 100% auto;
	.clearfix {
		.panel {
			float: left;
		}
	}
	.panel {
		padding: 79px 0 0;
		&--faq {
			width: calc(100% - 310px);
		}
		&--ask {
			max-width: 270px;
			padding-left: 40px;
			.inner {
				@include border-radius(15px);
				border: 3px dotted #ffffff;
				background-color: rgba(34, 29, 25, 0);
				padding: 40px 25px;
				h2 {
					color: #ffffff;
					font-size: 24px;
					font-weight: 700;
					text-transform: uppercase;
				}
				p {
					color: #ffffff;
					font-size: 15px;
					font-weight: 400;
					line-height: 18px;
					text-align: center;
					padding-top: 10px;
				}
				.btn-ask {
					display: block;
					text-align: center;
					color: #010101;
					font-size: 20px;
					font-weight: 700;
					text-transform: uppercase;
					border-radius: 25px;
					background-color: $color_orange;
					text-decoration: none;
					padding: 14px 10px;
					margin-top: 9px;
				}
			}
		}
		.tabs {
			list-style: none;
			li {
				float: left;
				margin-left: 10px;
				font-size: 20px;
				line-height: 60px;
				font-weight: bold;
				text-transform: uppercase;
				a {
					display: block;
					padding: 0 33px;
					color: $color_text;
					text-decoration: none;
					background: $color_orange;
					@include border-radius(10px 10px 0 0);
				}
				&.active {
					a {
						background: #fff;
					}
				}
				&:first-child {
					margin-left: 0;
				}
			}
		}
		.tab {
			display: none;
			padding: 32px 39px 41px;
			background: #fff;
			@include border-radius(0 10px 10px 10px);
			&.active {
				display: block;
			}
			h2 {
				font-size: 30px;
				font-weight: bold;
			}
			ol {
				list-style-type: none
				
			}
			li {
				display: block;
				color: #010101;
				font-size: 17px;
				font-weight: 700;
				margin-bottom: 15px;
				&.faq--open {
					background: $color_orange;
				}
				.faq-link {
					cursor: pointer;
					padding: 5px 0;
					
					&--active {
						background: $color_orange;
						box-shadow: 5px 0 0 $color_orange, -5px 0 0 $color_orange;
						box-decoration-break: clone;
					}
				}
				.faq-content {
					display: none;
					color: #181716;
					font-size: 15px;
					font-weight: 400;
					padding: 0 23px;
					margin-top: 11px;
					margin-bottom: 5px;
				}
			}
		}
	}
}