.b-homescreen {
	/* height: 585px; */
	/* padding: 195px 0 0; */
	padding: 195px 20px 20px;
	background: #040404 url('images/bg-1.jpg') center top no-repeat;
	background-size: 100% auto;
	text-align: center;
	img {
		max-width: 100%;
		max-height: 100%;
	}
	.promo-lowres {
		display: none;
	}
}

.b-steps {
	padding: 21px 0;
	background: #fdb900 url('images/pattern-1.png') repeat-x;
	.heading {
		font-size: 50px;
		line-height: 50px;
		font-weight: bold;
		text-align: center;
	}
	.heading img {
		vertical-align: top;
		margin: 5px 3px -25px 0;
	}
	.items {
		padding: 13px 15px 0 54px;
		.item {
			float: left;
			width: 33.33%;
			text-align: center;
			.num {
				display: inline-block;
				line-height: normal;
				vertical-align: top;
			}
			.text {
				text-align: left;
				display: inline-block;
				padding: 0 10px;
				.row-1 {
					font-size: 30px;
					line-height: normal;
					font-weight: bold;
					text-transform: uppercase;
				}
				.row-2 {
					font-size: 22px;
					line-height: 28px;
				}
				img {
					vertical-align: top;
				}
			}
			.register-btn {
				margin: 14px 0 0;
			}
			&:nth-child(3) {
				.text {
					.row-2 {
						text-align: center;
					}
				}
			}
		}
	}
}

