.modal-1 {
	position: relative;
	width: 600px;
	margin: 0 auto;
	background: #fff;
	text-align: center;
	.heading {
		padding-top: 10px;
		font-size: 15px;
		p {
			padding: 5px 0;
		}
	}
	.modal-close {
		display: block;
		position: absolute;
		right: -61px;
		top: 0;
		width: 31px;
		height: 31px;
		text-decoration: none;
		background-image: url('images/sprite-close-1.png');
		background-repeat: no-repeat;
	}
	.title {
		font-size: 30px;
		font-weight: bold;
	}
	.content {
		padding: 50px;
	}
	a {
		color: $color_text;
	}
	.close-btn {
		margin-top: 15px;
	}
	.inputs {
		text-align: left;
		.input-label {
			display: block;
			float: left;
			width: 160px;
			font-size: 17px;
			line-height: 45px;
			font-weight: bold;
			text-align: right;
			span {
				display: inline-block;
				line-height: 20px;
				vertical-align: middle;
			}
		}
		.checkbox-label {
			display: inline-block;
			margin-left: 170px;
			font-size: 15px;
		}
		.jq-checkbox {
			vertical-align: middle;
			margin-right: 5px;
		}
		.input {
			float: left;
			margin-left: 10px;
			width: 180px;
			&.wide {
				display: block;
				float: none;
				margin-left: 170px;
				width: auto;
			}
		}
	}
	.buttons {
		margin-left: 170px;
		padding-top: 15px;
		font-size: 17px;
		font-weight: bold;
		text-align: left;
	}
	.inputs-group {
		padding: 15px 0 30px;
		border-top: 2px dashed #b7b7b7;
		&:first-child {
			border: none;
		}
	}
	.inputs-row {
		padding-top: 15px;
		&.align-middle {
			line-height: 45px;
		}
	}
}

#modal_modals {
	.content {
		padding: 20px;
	}
	ul {
		list-style: none;
		li {
			padding: 5px 0;
		}
	}
	a {
		font-size: 20px;
		font-weight: bold;
		color: $color_red;
	}
}

#modal_birth {
	.inputs {
		padding-top: 50px;
		text-align: center;
		label {
			padding-right: 5px;
			font-size: 17px;
			font-weight: bold;
			vertical-align: middle;
		}
		.jq-selectbox {
			margin: 0 3px;
			vertical-align: middle;
		}
	}
	.submit-btn {
		margin-top: 50px;
	}
}

#modal_ok {
	a {
		font-weight: bold;
	}
}

#modal_auth {
	.content {
		padding-right: 100px;
	}
	.inputs {
		text-align: left;
		.input-label {
			display: block;
			float: left;
			width: 100px;
			font-size: 17px;
			line-height: 45px;
			font-weight: bold;
			text-align: right;
		}
		.input {
			float: none;
			width: auto;
			margin-left: 110px;
		}
	}
	.restore {
		padding-top: 5px;
		text-align: right;
		a {
			font-size: 13px;
			font-weight: bold;
			color: $color_text;
		}
	}
	.remember {
		margin-left: 110px;
		text-align: left;
		label {
			font-size: 15px;
		}
		.jq-checkbox {
			vertical-align: middle;
			margin-right: 5px;
		}
	}
	.buttons {
		margin-left: 110px;
	}
	.register-btn {
		font-weight: bold;
	}
}

#modal_reg_1,
#modal_reg_2 {
	.heading {
		font-size: 13px !important;
		padding: 0;
	}
	.inputs {
		.jq-file,
		.network,
		.captcha .heading,
		.buttons,
		.agreement {
			display: block;
			margin-left: 170px;
			text-align: left;
		}
		.network {
			label {
				position: relative;
				display: block;
				float: left;
				width: 50%;
				.logo {
					display: block;
					margin-left: 36px;
					height: 60px;
					img {
						display: block;
						width: 100%;
						max-height: 100%;
					}
				}
				.jq-radio {
					position: absolute;
					top: 50%;
					left: 7px;
					margin-top: -11px;
				}
			}
		}
		.check {
			.inputs-row {
				margin-right: 135px;
			}
			.help-btn {
				display: block;
				position: relative;
				float: right;
				width: 93px;
				height: 91px;
				margin: 15px 15px 0 0;
				background: #fff;
				border: 6px solid #fff;
				text-decoration: none;
				@include box-shadow(0px 3px 9px 0px rgba(0, 0, 0, 0.25));
				img {
					max-width: 100%;
					max-height: 100%;
				}
				&:after {
					display: block;
					content: '';
					position: absolute;
					right: -16px;
					bottom: -16px;
					width: 48px;
					height: 48px;
					background: url('images/icon-zoom-1.png') no-repeat;
				}
			}
		}
		.captcha {
			.image {
				float: left;
				width: 160px;
				text-align: right;
				line-height: 45px;
				img {
					vertical-align: middle;
				}
			}
		}
		.agreement {
			.jq-checkbox {
				float: left;
			}
			span {
				display: block;
				margin-left: 30px;
				font-size: 15px;
				a {
					font-weight: bold;
				}
			}
		}
		.problem {
			display: inline-block;
			margin-left: 5px;
			font-size: 13px;
			font-weight: bold;
		}
	}
}

#modal_address {
	.heading {
		font-size: 13px;
		padding-bottom: 6px;
	}
	.captcha {
		.image {
			float: left;
			width: 50%;
			line-height: 45px;
			text-align: right;
			img {
				margin-right: 15px;
				vertical-align: middle;
			}
		}
		.input {
			float: left;
			width: 50%;
			margin: 0;
			box-sizing: border-box;
		}
	}
	.buttons {
		margin: 0;
		text-align: center;
	}
}

#modal_check_help {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	&.active {
		display: flex;
	}
	.check {
		padding-top: 30px;
		text-align: center;
		img {
			max-width: 100%;
			@include box-shadow(0px 0px 15px 0px rgba(0, 0, 0, 0.5));
		}
	}
	ul {
		padding-top: 22px;
		list-style: none;
		li {
			float: left;
			width: 33.33%;
			font-size: 17px;
			text-align: center;
		}
		span {
			display: inline-block;
			width: 24px;
			height: 24px;
			margin-right: 7px;
			line-height: 24px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			vertical-align: middle;
			background: $color_red;
			@include border-radius(50%);
		}
	}
}

.secondary-modal-active .fancybox-overlay,
.secondary-modal-active .fancybox-wrap {
	visibility: hidden;
	z-index: 0;
}
