.b-page {
	min-height: 100vh;
	padding-bottom: 20px;
	box-sizing: border-box;
	background: #fbbf1d url('images/pattern-2.png');
	text-align: center;
	header {
		.logo {
			float: none;
			width: 177px;
			padding: 5px 0 0;
			margin: 0 auto;
			background: none;
		}
	}
	.links {
		padding: 180px 170px 0;
		.link {
			display: block;
			float: left;
			width: 50%;
			.link-image {
				position: relative;
				display: inline-block;
				padding: 0 30px;
				max-width: 100%;
				box-sizing: border-box;
				.image-1 {
					position: absolute;
					z-index: 1;
					left: -20px;
					bottom: -20px;
					width: 35%;
				}
				.image-2 {
					position: absolute;
					z-index: 1;
					right: -20px;
					top: -20px;
					width: 30%;
				}
			}
			.link-text {
				display: block;
				padding-top: 30px;
				font-size: 22px;
				font-weight: bold;
			}
		}
	}
	.go-btn {
		margin-top: 23px;
		padding-right: 50px;
		font-size: 17px;
		background-image: url('images/icon-arrow-right-1.png');
		background-position: right 20px center;
		background-repeat: no-repeat;
	}
}
