.b-prizes {
	padding: 235px 0 60px;
	background: #040404 url('images/bg-1.jpg') center top no-repeat;
	background-size: 100% auto;
	.panel {
		padding: 79px 0 0;
		.tabs {
			list-style: none;
			li {
				float: left;
				margin-left: 10px;
				font-size: 20px;
				line-height: 60px;
				font-weight: bold;
				text-transform: uppercase;
				a {
					display: block;
					padding: 0 33px;
					color: $color_text;
					text-decoration: none;
					background: #fff;
					@include border-radius(10px 10px 0 0);
				}
				&.active {
					a {
						background: $color_orange;
					}
				}
				&:first-child {
					margin-left: 0;
				}
			}
		}
		.tab {
			display: none;
			&.active {
				display: block;
			}
			h2 {
				font-size: 30px;
				font-weight: bold;
			}
		}
	}
	.table {
		overflow: auto;
		@include border-radius(10px);
		-webkit-border-top-left-radius: 10px;
		-moz-border-top-left-radius: 10px;
		border-top-left-radius: 0;
		table {
			width: 100%;
			min-width: 900px;
			border-collapse: collapse;
			white-space: nowrap;
		}
		thead th {
			padding: 15px 20px;
			background: $color_orange;
			font-size: 20px;
			line-height: 30px;
			font-weight: bold;
			text-align: left;
			border-left: 1px solid #fedc80;
			&:first-child {
				border-left: none;
			}
			.jq-selectbox {
				float: right;
			}
		}
		td {
			padding: 15px 20px;
			font-size: 16px;
			font-weight: bold;
			background: #fff;
			border-top: 1px solid #d9d9d9;
			border-left: 1px solid #d9d9d9;
		}
		tr {
			&:first-child {
				td {
					border-top: none;
				}
			}
		}
		a {
			color: $color_orange;
		}
	}
	.pagination-1 {
		margin-top: 25px;
	}
}