@media(max-width: 1366px) {
	.container:not(.w-640) {
		width: auto;
		margin: 0;
		padding: 0 20px;
	}	
	header {
		.logo {
			height: 122px;
			margin: 0;
		}
		.part-top,
		.part-bottom {
			margin-left: 230px;
		}
		.part-top {
			height: 60px;
			.userbar {
				padding-top: 10px;
			}
		}
	}	
	.b-homescreen {
		padding-top: 140px;
		.promo-hires {
			display: none;
		}
		.promo-lowres {
			display: inline;
		}
	}	
	.b-steps {
		padding: 24px 0 15px;
		.heading {
			font-size: 44px;
			line-height: 1;
			br {
				display: none;
			}
			img {
				height: 56px;
			}
		}
		.items {
			padding-top: 24px;
			.item {
				.register-btn {
					padding: 5px 20px;
					margin-top: 5px;
				}
			}
		}
	}
	.b-faq,
	.b-cabinet,
	.b-winners {
		padding-top: 190px;
	}	
	.b-title {
		font-size: 60px;
	}
	.b-faq,
	.b-cabinet {
		.panel {
			padding-top: 40px;
			.tabs {
				li {
					font-size: 18px;
					line-height: 50px;
					a {
						padding: 0 15px;
					}
				}
			}
		}
	}
	.b-page {
		.links {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.b-rules {
		padding: 130px 0 10px;
		.items {
			.item {
				padding-top: 10px;
				.num {
					display: inline-block;
					margin-right: 20px;
					vertical-align: top;
				}
				.text {
					display: inline-block;
					padding: 0;
					.row-1 {
						font-size: 28px;
						line-height: 1;
					}
					.row-2 {
						font-size: 20px;
						line-height: 1;
					}
				}
			}
		}
		.pdf-btn {
			a {
				right: 10px;
			}
		}
		.promo {
			.item {
				width: 200px;
				&.item-1 {
					bottom: 100px;
					left: 10px;
				}
				&.item-2 {
					bottom: 200px;
					right: 10px;
				}
			}
		}
	}
}

@media(max-width: 1279px) {
	header {
		.part-top {
			display: none;
		}
		.part-bottom {
			.menu-btn {
				display: block;
			}
			ul {
				display: none;
			}
		}
	}
	.b-homescreen {
		.promo-hires {
			display: inline;
		}
		.promo-lowres {
			display: none;
		}
	}
	.b-steps {
		.heading {
			padding-top: 20px;
			font-size: 36px;
			img {
				width: 110px;
				height: auto;
			}
		}
		.items {
			.item {
				.num {
					display: block;
					height: 40px;
				}
				.text {
					display: block;
					text-align: center;
				}
			}
		}
	}
	footer {
		.part-top {
			.menu-1 {
				display: none;
			}
		}
		.text {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.b-rules {
		.promo {
			padding-top: 40px;
			.item {
				float: left;
				position: static;
				left: auto;
				right: auto;
				width: 50%;
				line-height: 450px;
				text-align: center;
				img {
					vertical-align: middle;
				}
			}
		}
	}
}

@media(max-width: 1199px) {
	.b-steps {
		.items {
			.item {
				.text {
					.row-1 {
						font-size: 22px;
					}
					.row-2 {
						font-size: 18px;
						line-height: normal;
					}
				}
			}
		}
	}
	.b-cabinet {
		.panel {
			.delivery {
				.form {
					.form-row {
						&:first-child {
							.form-col {
								&:first-child {
									width: 450px;
								}
							}
						}
						&:nth-child(2) {
							.form-col {
								width: 225px;
							}
							.input-1 {
								width: 80px;
							}
						}
					}
				}
			}
			.status {
				.table {
					margin-right: 0;
				}
			}
		}
	}
	.b-sharing {
		header {
			.logo {
				float: none;
				margin: 0 auto;
			}
		}
	}
	.b-rules {
		.pdf-btn {
			padding-top: 20px;
			a {
				position: static;
				right: auto;
				bottom: auto;
				margin: 0 auto;
			}
		}
	}
}

@media(max-width: 991px) {
	.scroll-overlay {
		&:before {
			display: block;
		}
		&:after {
			display: block;
		}
	}
	.b-steps {
		.items {
			padding: 15px 15px 0;
			.item {
				float: none;
				width: auto;
				padding-bottom: 20px;
				.num {
					height: auto;
				}
			}
		}
	}
	.b-page {
		.links {
			.link {
				float: none;
				width: auto;
				padding-bottom: 50px;
			}
		}
	}
	.b-rules {
		.items {
			padding-left: 0;
			padding-right: 0;
			.item {
				.text {
					.row-1 {
						font-size: 26px;
						line-height: normal;
					}
					.row-2 {
						font-size: 20px;
						line-height: normal;
					}
				}
			}
		}
		form {
			width: 100%;
			margin: 20px 0 0;
		}
	}
	.b-faq {
		.panel {
			float: none !important;
			width: 100%;
			&--ask {
				padding-left: 0;
				margin: 0 auto;
			}
		}
	}
}

@media(max-width: 767px) {
	.container.w-640 {
		width: auto;
		margin: 0;
		padding: 0 20px;		
	}
	.input-1 {
		.errorMessage {
			left: 0;
			bottom: 100%;
		}
	}
	.modal-1  {
		width: auto;
		.modal-close {
			right: 10px;
			top: 10px;
			background-position-x: -33px;
		}
		.content {
			padding-left: 15px;
			padding-right: 15px;
		}
		.title {
			font-size: 24px;
		}
		.inputs {
			.input,
			.jq-file {
				float: none;
				width: auto;
				margin: 0 !important;
			}
			.input-label {
				float: none;
				width: auto;
				text-align: left;
			}
			.checkbox-label,
			.problem {
				margin: 0 !important;
			}
		}
		.buttons {
			margin-left: 0;
			text-align: center;
		}
	}
	#modal_birth {
		.inputs {
			label,
			.jq-selectbox {
				display: block;
				margin-top: 10px;
			}
		}
	}
	#modal_auth {
		.content {
			padding-right: 15px;
		}
		.remember {
			margin: 0;
		}
		.buttons {
			.submit-btn {
				width: 100%;
			}
			span {
				display: block;
				padding: 5px 0;
			}
		}
	}
	#modal_check_help {
		ul {
			li {
				float: none;
				width: auto;
				padding: 5px 0;
			}
		}
	}
	#modal_reg_1,
	#modal_reg_2 {
		.inputs {
			.network,
			.agreement {
				margin: 0;
			}
			.captcha {
				.heading {
					text-align: center;
					margin: 0;
				}
				.image {
					float: none;
					width: auto;
					text-align: center;
				}
			}
			.check {
				.inputs-row {
					margin-right: 0;
				}
				.help-btn {
					float: none;
					margin: 0 auto;
				}
			}
		}
	}
	.button-1 {
		padding: 10px 15px;
		font-size: 16px;
		line-height: 20px;
		@include border-radius(20px);
	}
	header {
		.part-bottom {
			.menu-btn {
				margin-top: 20px;
			}
		}
		.logo {
			padding: 1px 5px 5px;
			height: 90px;
		}
	}
	.b-homescreen {
		padding: 110px 0 10px;
	}
	.b-steps {
		.heading {
			font-size: 26px;
			img {
				width: 80px;
				margin-top: 2px;
			}
		}
	}
	.b-sharing {
		padding-bottom: 20px;
		.promo {
			padding-top: 185px;
		}
	}
	.b-cabinet {
		.panel {
			.delivery {
				.form {
					.form-row {
						display: block;
						&:first-child {
							.form-col {
								padding-left: 0;
							}
						}
					}
					.form-col {
						display: block;
						padding-left: 0;
						width: auto !important;
						text-align: left !important;
					}
					label {
						display: block;
						padding: 0 0 19px;
					}
					.input-1 {
						display: block;
						width: auto !important;
					}
				}
			}
		}
	}
	footer {
		.part-top {
			text-align: center;
			.copyright,
			.social {
				float: none;
				width: auto;
				margin: 0;
			}
			.social {
				span {
					display: block;
				}
			}
		}
	}
	.b-rules {
		form {
			display: block;
			.d-table-row {
				display: block;
			}
			.bottom {
				padding-top: 20px;
			}
			.inputs,
			.bottom .left {
				display: block;
				width: auto;
				margin: 0 20px;
				padding: 0;
				border: none;
			}
			.captcha,
			.bottom .right {
				display: block;
				width: auto;
				margin: 20px 20px 0;
				padding: 20px 0 0;
				border-top: 2px dashed #b7b7b7;
				text-align: center;
				.submit-btn {
					margin-top: 20px;
				}
			}
		}
		.promo {
			padding: 0;
			.item {
				padding: 20px 0;
				width: auto;
				float: none;
				line-height: normal;
			}
		}
	}
}

@media(max-width: 575px) {
	.container {
		padding: 0 !important;
	}
	.b-title {
		font-size: 36px;
	}
	.b-faq,
	.b-cabinet {
		padding-bottom: 0;
		.container {
			padding: 0;
		}
		.panel {
			.tabs {
				li {
					margin: 0;
					font-size: 14px;
					line-height: 36px;
					text-transform: none;
					a {
						padding: 0 10px;
					}
				}
			}
			.tab {
				h2 {
					font-size: 24px;
				}
				padding: 20px;
				@include border-radius(0);
			}
		}
	}
	.b-faq {
		.panel--ask {
			padding-bottom: 30px
		}
		.panel {
			.content {
				.tab {
					.faq-content {
						padding: 0 15px;
					}
				}

			}
		}
	}
	.b-cabinet {
		.pagination-1 {
			padding: 25px 0;
			margin-top: 0;
		}
	}
	.tab--prizes {
		.table {
			border-radius: 0 !important;
		}
	}

	.pagination-1{
		li {
			&:nth-last-child(2),
				&:nth-last-child(4) {
				display: none
			}
		}
	}
	footer {
		.menu-2 {
			li {
				display: block;
				padding: 5px 0;
				a {
					width: auto;
					span {
						padding: 0;
						font-size: 16px;
						line-height: normal;
					}
				}
			}
			img {
				display: none;
			}
		}
	}
	.b-rules {
		form {
			.inputs {
				.input,
				.jq-file {
					float: none;
					width: auto;
					margin: 0 !important;
				}
				.input-label {
					float: none;
					width: auto;
					text-align: left;
				}
			}
			.inputs-row {
				padding: 0;
			}
		}
	}
}
