.b-rules {
	box-sizing: border-box;
	position: relative;
	min-height: 100vh;
	padding: 210px 0 33px;
	background: #040404 url('images/bg-1.jpg') center top no-repeat;
	background-size: 100% auto;
	&:after {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 315px;
		background: url('images/lines-1.png') center bottom repeat-x;
	}
	.container {
		position: relative;
		z-index: 1;
	}
	.pdf-btn {
		position: relative;
		a {
			display: block;
			position: absolute;
			right: -25px;
			bottom: 35px;
			width: 120px;
			height: 120px;
			padding: 10px;
			font-size: 16px;
			line-height: 18px;
			font-weight: bold;
			color: $color_text;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			background: $color_orange;
			@include border-radius(50%);
			&:hover {
				background: lighten($color_orange, 10%);
			}
			&:before {
				display: block;
				content: '';
				width: 39px;
				height: 39px;
				margin: 8px auto 10px;
				background: url('images/icon-pdf-1.png') no-repeat;
			}
		}
	}
	.items {
		text-align: center;
		.item {
			padding-top: 50px;
			.text {
				padding-top: 8px;
				color: #fff;
				font-weight: bold;
				.row-1 {
					font-size: 36px;
					line-height: 42px;
				}
				.row-2 {
					font-size: 30px;
					line-height: 36px;
				}
				img {
					vertical-align: middle;
				}
			}
			.how-btn {
				margin-top: 12px;
			}
			&:first-child {
				padding-top: 0;
			}
		}
	}
	form {
		width: 680px;
		margin: 20px auto 0;
		padding: 20px 0;
		background: #fff;
		.inputs {
			width: 60%;
			padding: 0 5% 0 20px;
			text-align: left;
			border-right: 2px dashed #b7b7b7;
			vertical-align: top;
			.input-label {
				display: block;
				float: left;
				width: 160px;
				font-size: 17px;
				line-height: 45px;
				font-weight: bold;
				text-align: right;
				span {
					display: inline-block;
					line-height: 20px;
					vertical-align: middle;
				}
			}
			.input,
			.jq-file {
				margin-left: 170px;
			}
			.jq-file {
				display: block;
			}
		}
		.captcha {
			position: relative;
			width: 30%;
			padding: 0 20px 0 5%;
			text-align: left;
			vertical-align: top;
			.image {
				img {
					max-width: 100%;
				}
			}
			label {
				font-size: 12px;
			}
			.input {
				margin-top: 10px;
			}
		}
		.bottom {
			text-align: left;
			.left {
				padding: 10px 5% 0 20px;
			}
			.right {
				padding: 10px 20px 0 5%;
			}
			.agreement {
				display: block;
				.jq-checkbox {
					float: left;
				}
				span {
					display: block;
					margin-left: 50px;
					font-size: 14px;
					a {
						color: $color_text;
						font-weight: bold;
					}
				}
			}
			.submit-btn {
				width: 100%;
			}
		}
		.inputs-row {
			padding-top: 15px;
			&.align-middle {
				line-height: 45px;
			}
			&:first-child {
				padding-top: 0;
			}
		}
	}
	.promo {
		position: relative;
		.item {
			position: absolute;
			&.item-1 {
				bottom: 190px;
				left: -75px;
			}
			&.item-2 {
				bottom: 270px;
				right: -95px;
			}
			img {
				max-width: 100%;
			}
		}
	}
}
