.b-sharing {
	min-height: 100vh;
	background: #040404 url('images/bg-1.jpg') center top no-repeat;
	background-size: 100% auto;
	text-align: center;
	header {
		.logo {
			float: right;
			width: 125px;
			padding: 44px 13px 3px 7px;
			margin-left: 0;
			margin-right: 40px;
		}
	}
	.promo {
		padding-top: 185px;
	}
	.promo-lowres {
		display: none;
	}
	.go-btn {
		margin-top: 24px;
	}
}