.b-winners {
	padding: 235px 0 37px;
	background: #040404 url('images/bg-1.jpg') center top no-repeat;
	background-size: 100% auto;
	.search {
		padding-top: 40px;
		text-align: center;
		label {
			padding-right: 10px;
			font-size: 20px;
			line-height: 40px;
			font-weight: bold;
			color: #fff;
			vertical-align: middle;
			white-space: nowrap;
		}
		.input-2 {
			width: 238px;
		}
	}
	.table {
		margin-top: 30px;
		overflow: auto;
		@include border-radius(10px);
		table {
			width: 100%;
			min-width: 900px;
			border-collapse: collapse;
			white-space: nowrap;
		}
		thead th {
			padding: 15px 20px;
			background: $color_orange;
			font-size: 20px;
			line-height: 30px;
			font-weight: bold;
			text-align: left;
			border-left: 1px solid #fedc80;
			&:first-child {
				border-left: none;
			}
			.jq-selectbox {
				float: right;
			}
		}
		td {
			padding: 15px 20px;
			font-size: 16px;
			font-weight: bold;
			background: #fff;
			border-top: 1px solid #d9d9d9;
			border-left: 1px solid #d9d9d9;
		}
		tr {
			&:first-child {
				td {
					border-top: none;
				}
			}
		}
		a {
			color: $color_text;
		}
	}
	.pagination-1 {
		margin-top: 25px;
	}
}