$font_main: 'RotondaC';

$color_text: #181716;
$color_red: #d40911;
$color_orange: #fdb900;
$color_green: #2bb673;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin transform($transform) {
	-moz-transform: $transform;
	-ms-transform: $transform;
	-webkit-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

* {
	margin: 0;
	padding: 0;
}

body, input, button, textarea {
	font-family: $font_main;
	font-size: 14px;
	color: $color_text;
}

img {
	max-width: 100%;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}

.clearfix:after {
  clear: both;
}

.hidden {
	display: none;
}

.text-uppercase {
	text-transform: uppercase;
}

.main-wrapper {
	position: relative;
	z-index: 1;
}

.container {
	width: 1240px;
	margin: 0 auto;
	&.w-640 {
		width: 640px;
	}
}

.d-table {
	display: table;
}

.d-table-row {
	display: table-row;
}

.d-table-cell {
	display: table-cell;
}

.errorMessage {
	display: none;
	padding: 7px 16px;
	position: absolute;
	z-index: 10;
	left: 100%;
	bottom: 0;
	margin: 0 0 13px 7px;
	font-size: 13px;
	color: #fff;
	background: $color_red;
	@include border-radius(4px);
	&:after {
		display: block;
		content: '';
		position: absolute;
		top: 100%;
		left: 10px;
		width: 24px;
		height: 8px;
		background: url('images/decor-1.png') no-repeat;
	}
}

.inputs-row {
	position: relative;
	&.error {
		.errorMessage {
			display: block;
		}
	}
}

.input-1 {
	position: relative;
	padding: 10px 14px;
	background: #fff;
	border: 1px solid $color_text;
	line-height: normal;
	@include border-radius(4px);
	&.error {
		border-color: $color_red;
		background: #f9ebeb;
		.errorMessage {
			display: block;
		}
	}
	input {
		width: 100%;
		height: 23px;
		font-size: 15px;
		line-height: 23px;
		border: none;
		outline: none;
		color: $color_text;
		background: transparent;
		&::-webkit-input-placeholder {
			color: #8f8f8e;
		}
		&:-moz-placeholder {
			color: #8f8f8e;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #8f8f8e;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #8f8f8e;
		}
	}
}

span.input-1 {
	display: inline-block;
}

.input-2 {
	position: relative;
	padding: 4px 40px 4px 20px;
	background: #fff;
	border: 1px solid #fff;
	line-height: normal;
	@include border-radius(20px);
	input {
		width: 100%;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		font-weight: bold;
		border: none;
		outline: none;
		color: $color_text;
		background: transparent;
		&::-webkit-input-placeholder {
			color: #a3a3a3;
		}
		&:-moz-placeholder {
			color: #a3a3a3;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #a3a3a3;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #a3a3a3;
		}
	}
	&.ico-search {
		&:after {
			display: block;
			content: '';
			position: absolute;
			right: 13px;
			top: 9px;
			width: 19px;
			height: 19px;
			background: url('images/icon-search-1.png') no-repeat;
		}
	}
}

span.input-2 {
	display: inline-block;
}

.textarea-1 {
	position: relative;
	padding: 10px 14px;
	background: #fff;
	border: 1px solid $color_text;
	line-height: normal;
	@include border-radius(4px);
	&.error {
		border-color: $color_red;
		background: #f9ebeb;
	}
	textarea {
		width: 100%;
		font-size: 15px;
		line-height: 23px;
		border: none;
		outline: none;
		color: $color_text;
		background: transparent;
		resize: none;
		&::-webkit-input-placeholder {
			color: #8f8f8e;
		}
		&:-moz-placeholder {
			color: #8f8f8e;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #8f8f8e;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #8f8f8e;
		}
	}
	/*
	.errorMessage {
		padding: 7px 16px;
		position: absolute;
		left: 100%;
		bottom: 0;
		margin: 0 0 13px 7px;
		font-size: 13px;
		color: #fff;
		background: $color_red;
		@include border-radius(4px);
		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 100%;
			left: 10px;
			width: 24px;
			height: 8px;
			background: url('images/decor-1.png') no-repeat;
		}
	}
	*/
}

.button-1 {
	display: inline-block;
	padding: 13px 30px;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: $color_red;
	border: none;
	outline: none;
	cursor: pointer;
	@include border-radius(25px);
	&:hover {
		background: lighten($color_red, 10%);
	}
}

.button-2 {
	@extend .button-1;
	background: $color_orange;
	&:hover {
		background: lighten($color_orange, 10%);
	}
}

.button-3 {
	@extend .button-2;
	color: $color_text !important;
	padding: 5px 20px;
	font-size: 16px;
	line-height: 20px;
	text-transform: none;
	@include border-radius(15px);
}

.button-4 {
	display: inline-block;
	width: 22px;
	height: 22px;
	font-size: 16px;
	line-height: 22px !important;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	@include border-radius(50%);
	background: $color_orange;
}

.jq-file.file-1 {
	.jq-file__name {
		@extend .input-1;
		margin-right: 100px;
		font-size: 15px;
		line-height: 23px;
	}
	.jq-file__browse {
		@extend .button-1;
		position: absolute;
		right: 0;
		top: 4px;
		width: 90px;
		padding: 9px 0 !important;
		font-size: 15px;
		line-height: 18px;
		color: #fff;
		background: #d0d0d0;
		&:hover {
			background: lighten(#d0d0d0, 5%);
		}
	}
}

.jq-radio.radio-1 {
	padding: 2px;
	border: 4px solid #d0d0d0;
	@include border-radius(50%);
	.jq-radio__div {
		width: 10px;
		height: 10px;
		@include border-radius(50%);
	}
	&.checked {
		.jq-radio__div {
			background: $color_text;
		}
	}
}

.jq-checkbox.checkbox-1 {
	width: 22px;
	height: 22px;
	background: $color_green;
	@include border-radius(50%);
	.jq-checkbox__div {
		display: none;
		width: 22px;
		height: 22px;
		background: url('images/sprite-checkbox-1.png') -23px 0 no-repeat;
	}
	&.checked {
		.jq-checkbox__div {
			display: block;
		}
	}
}

.jq-checkbox.checkbox-2 {
	width: 40px;
	height: 22px;
	background: #e1e1e1;
	@include border-radius(11px);
	.jq-checkbox__div {
		width: 22px;
		height: 22px;
		background: url('images/sprite-checkbox-1.png') no-repeat;
		transition: margin-left 0.2s ease-in-out;
	}
	&.checked {
		.jq-checkbox__div {
			margin-left: 18px;
			background-position: -23px 0;
		}
	}
}

.jq-selectbox.select-1 {
	.jq-selectbox__select {
		position: relative;
		z-index: 1;
		height: 30px;
		background: #fff;
		@include border-radius(15px);
		cursor: default;
	}
	&.opened {
		.jq-selectbox__select {
			@include border-radius(15px 15px 0 0);
			@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.3));
		}
	}
	.jq-selectbox__select-text {
		width: auto !important;
		padding: 0 35px 0 15px;
		font-size: 14px;
		line-height: 30px;
		font-weight: bold;
	}
	.jq-selectbox__dropdown {
		width: 100% !important;
		background: #fff;
		overflow: hidden;
		@include border-radius(0 0 15px 15px);
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.3));
		li {
			padding: 0 15px;
			font-size: 14px;
			line-height: 30px;
			cursor: pointer;
			&.sel {
				background: $color_red !important;
				color: #fff;
			}
			&:hover {
				background: #eee;
			}
		}
	}
	.jq-selectbox__trigger {
		position: absolute;
		right: 10px;
		top: 11px;
		width: 15px;
		height: 9px;
		background: url('images/icon-chevron-down-1.png') no-repeat;
	}
}

.jq-selectbox.select-2 {
	.jq-selectbox__select {
		position: relative;
		z-index: 1;
		height: 43px;
		background: #fff;
		border: 1px solid $color_text;
		@include border-radius(4px);
		cursor: default;
	}
	&.opened {
		.jq-selectbox__select {
			@include border-radius(0);
			@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.3));
			border-color: transparent;
		}
	}
	.jq-selectbox__select-text {
		width: auto !important;
		padding: 0 25px 0 14px;
		font-size: 17px;
		line-height: 43px;
	}
	.jq-selectbox__dropdown {
		width: 100% !important;
		background: #fff;
		overflow: hidden;
		text-align: left;
		@include border-radius(0 0 4px 4px);
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.3));
		li {
			padding: 0 14px;
			font-size: 17px;
			line-height: 43px;
			cursor: pointer;
			&.sel {
				background: $color_red !important;
				color: #fff;
			}
			&:hover {
				background: #eee;
			}
		}
	}
	.jq-selectbox__trigger {
		position: absolute;
		right: 5px;
		top: 18px;
		width: 14px;
		height: 8px;
		background: url('images/icon-chevron-down-2.png') no-repeat;
	}
}

.pagination-1 {
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	a, span {
		display: inline-block;
		margin: 0 10px;
		color: #fff;
		text-decoration: none;
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
	li {
		display: inline;
		&.active {
			a, span {
				width: 40px;
				height: 40px;
				margin: 0;
				background: $color_red;
				@include border-radius(50%);
			}
		}
	}
	.prev {
		display: inline-block;
		width: 13px;
		height: 22px;
		text-decoration: none !important;
		background-image: url('images/sprite-nav-1.png');
		background-repeat: no-repeat;
		vertical-align: middle;
	}
	.next {
		@extend .prev;
		background-position-x: -14px;
	}
}

@-webkit-keyframes swipe {
  0% {
		@include transform(translate(50px, 0));
	}
  100% {
		@include transform(translate(-50px, 0));
	}
}
@-moz-keyframes swipe {
  0% {
		@include transform(translate(50px, 0));
	}
  100% {
		@include transform(translate(-50px, 0));
	}
}
@-o-keyframes swipe {
  0% {
		@include transform(translate(50px, 0));
	}
  100% {
		@include transform(translate(-50px, 0));
	}
}
@keyframes swipe {
  0% {
		@include transform(translate(50px, 0));
	}
  100% {
		@include transform(translate(-50px, 0));
	}
}

.scroll-overlay {
	position: relative;
	&:before {
		display: none;
		content: '';
		position: absolute;
		z-index: 50;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
	}
	&:after {
		display: none;
		content: '';
		position: absolute;
		z-index: 51;
		left: 50%;
		top: 50%;
		width: 50px;
		height: 70px;
		margin: -35px 0 0 -25px;
		background: url('images/icon-swipe-1.png') no-repeat;
		background-size: cover;
		@include animation(swipe 1.5s infinite ease-in-out);
	}
}

.userbar {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
	}
	.logout-btn {
		display: block;
		float: left;
		width: 24px;
		height: 19px;
		margin-top: 11px;
		background: url('images/icon-logout-1.png') no-repeat;
	}
	.userpic {
		display: block;
		float: left;
		width: 40px;
		height: 40px;
		margin-right: 15px;
		@include border-radius(50%);
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.username, .cabinet-btn, .login-btn {
		display: inline-block;
		float: left;
		margin: 12px 22px 0 0;
	}
	.login-btn {
		margin-right: 0;
	}
}

.mobile-menu {
	position: fixed;
	z-index: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $color_orange url('images/pattern-2.png');
	transform: scale(0.8);
	transform-origin: center center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	.menu-btn {
		position: absolute;
		right: 20px;
		top: 20px;
		width: 50px;
		height: 50px;
		text-decoration: none;
		@include border-radius(50%);
		background: $color_red url('images/icon-close-1.png') center center no-repeat;
		background-size: 20px auto;
		&:hover {
			background-color: lighten($color_red, 10%);
		}
	}
	.userbar {
		padding-top: 30px;
		text-align: center;
		color: $color_text;
		.userpic {
			float: none;
			width: 100px;
			height: 100px;
			margin: 0 auto;
		}
		.username {
			display: block;
			float: none;
			margin: 15px 0 0;
			color: $color_red;
		}
		.cabinet-btn {
			float: none;
			margin: 15px 0 0;
		}
		.logout-link {
			display: inline-block;
			margin: 15px 0 0;
		}
		a {
			color: $color_text;
			text-decoration: underline;
		}
	}
	ul {
		padding-top: 40px;
		list-style: none;
		text-align: center;
		li {
			padding: 10px 0;
			a, span {
				display: inline-block;
				font-size: 20px;
				line-height: 24px;
				font-weight: bold;
				color: $color_text;
				text-transform: uppercase;
				text-decoration: underline;
			}
			&.active {
				a, span {
					color: $color_red;
					text-decoration: none !important;
				}
			}
		}
	}
}

body {
	&.menu-active {
		overflow: hidden;
		.mobile-menu {
			z-index: 200;
			visibility: visible;
			transform: scale(1);
			opacity: 1;
		}
	}
}

header {
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	.part-top {
		margin: 0 11px 0 300px;
		height: 88px;
		.userbar {
			float: right;
			padding-top: 24px;
		}
	}
	.logo {
		display: block;
		float: left;
		padding: 1px 24px 9px 13px;
		margin-left: -41px;
		text-decoration: none;
		background: $color_orange;
		img {
			max-width: 100%;
			max-height: 100%;
			vertical-align: top;
		}
	}
	.part-bottom {
		margin: 0 9px 0 300px;
		.menu-btn {
			display: none;
			float: right;
			width: 50px;
			height: 50px;
			margin-top: 41px;
			text-decoration: none;
			@include border-radius(50%);
			background: $color_red url('images/icon-menu-1.png') center center no-repeat;
			background-size: 20px auto;
			&:hover {
				background-color: lighten($color_red, 10%);
			}
		}
		.right-btn {
			display: none;
			float: right;
		}
		ul {
			margin-right: 300px;
			padding: 13px 0;
			list-style: none;
			text-align: center;
			li {
				display: inline-block;
				a, span {
					display: inline-block;
					margin: 0 12px;
					font-size: 20px;
					line-height: 24px;
					font-weight: bold;
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				&.active {
					a, span {
						color: $color_orange;
						text-decoration: none !important;
					}
				}
			}
		}
	}
}

.b-title {
	font-size: 76px;
	line-height: 54px;
	font-weight: bold;
	text-align: center;
	color: $color_orange;
}

@import 'modals';
@import 'index';
@import 'cabinet';
@import 'winners';
@import 'rules';
@import 'sharing';
@import 'page';
@import 'faq';

footer {
	padding: 23px 0 52px;
	.part-top {
		font-size: 15px;
		line-height: 27px;
		font-weight: bold;
		.copyright {
			float: left;
			margin-left: 31px;
		}
		.social {
			float: right;
			margin-right: 45px;
			ul {
				display: inline-block;
				li {
					display: inline;
					a {
						display: inline-block;
						width: 27px;
						height: 27px;
						margin: 0 4px;
						text-decoration: none;
						background-image: url('images/sprite-social-1.png');
						background-repeat: no-repeat;
						&.vk {
							background-position: 0 0;
						}
						&.fb {
							background-position: -28px 0;
						}
						&.ok {
							background-position: -56px 0;
						}
					}
				}
			}
		}
		.menu-1 {
			margin: 0 280px 0 390px;
			list-style: none;
			text-align: center;
			li {
				display: inline;
				a {
					display: inline-block;
					color: $color_text;
					&:hover {
						text-decoration: none;
					}
				}
				&:before {
					content: '  |   ';
				}
				&:first-child {
					&:before {
						content: '';
					}
				}
			}
		}
	}
	.menu-2 {
		padding: 34px 0 0;
		list-style: none;
		text-align: center;
		li {
			display: inline;
			a {
				display: inline-block;
				width: 140px;
				margin: 0 5px;
				text-decoration: none;
				span {
					display: block;
					padding: 14px 0 0;
					font-size: 13px;
					line-height: 15px;
					font-weight: bold;
					color: $color_text;
				}
				&:hover {
					span {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.text {
		padding: 34px 150px 0;
		font-size: 13px;
		text-align: center;
		h5 {
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
		}
		p {
			padding: 3px 0 4px;
		}
	}
}

@import 'responsive';
