@font-face {
	font-family: 'RotondaC';
	src: url('RotondaC.eot');
	src: url('RotondaC.eot?#iefix') format('embedded-opentype'),
		url('RotondaC.woff') format('woff'),
		url('RotondaC.ttf') format('truetype'),
		url('RotondaC.svg#RotondaC') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RotondaC';
	src: url('RotondaC-Bold.eot');
	src: url('RotondaC-Bold.eot?#iefix') format('embedded-opentype'),
		url('RotondaC-Bold.woff') format('woff'),
		url('RotondaC-Bold.ttf') format('truetype'),
		url('RotondaC-Bold.svg#RotondaC-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
